/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


body {
    /* overflow: hidden; */
    overflow-x: hidden; 
}

/* Landing Page */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}*/

.video-container .filter {
    z-index: 100;
    position: absolute;
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.down:before {
    display: inline;
    position: relative;
    top: 83vh;
    left: 50vw;
    z-index: 5;
    color: white;
    font-size: 6vh;
}

.down:hover{
    font-size: 8vh;
    text-shadow: 2px 0px 1px white;
    transition: all 0.3s;
}

.middle-text {
    z-index: 15;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    font-size: 72px;
    top: 38vh;
    color: white;
    background-color: rgba(51, 51, 51, 0.1);
}

.up:before {
    display: inline;
    position: relative;
    top: 92vh;
    left: 92vw;
    z-index: 5;
    color: white;
    font-size: 6vh;
}

.up:hover{
    font-size: 8vh;
    text-shadow: 2px 0px 1px white;
    transition: all 0.3s;
}


.logo {
    z-index: 5;
    height: 14vh;
    width: 12vw;
    position: relative;
    bottom: 3vh;
    transition: 3s;
}

.fas{
    height: 10vh;
    width: 10vw;
    z-index: 12;
}

/* Biography Page */
#bioPage{
    height: 100vh;
    width: 100vw;
    display: block;
    background: #333;
}

.follow{
    position: fixed;
    transition: 1500ms;
    bottom: 88vh;
    left: 44vw;
    z-index: 15;
    height: 12vh;
    width: 10vw;
}


/* Responsivness */
@media only screen and (max-width: 600px) {
    .logo {
        height: 16vh;
        width: 12vw;
    }
}

